
Button {
    -fx-pref-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: none;
}

.button1 {
    -fx-pref-width: 80;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

TextField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

.primary-btn{
    -fx-background-color: #DC143C;
    -fx-text-fill: #FFFACD;
}

.secondary-btn{

    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-text-fill: #FFFACD;
}

.title{
    -fx-font-size: 50;
    -fx-font-weight: bold;
    color: #DC143C;
}

.text1{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.text2{
    -fx-font-size: 20;
    -fx-font-weight: none;
}

.titleBox{
    -fx-padding: 90 0 0 0;
}
.chatTextArea {
    -fx-max-height: 100;
    -fx-pref-height: 100;
}

.sendButton {
    -fx-max-height: 100;
    -fx-border-color: #726060;
    -fx-background-color: #7a84cb;
}
.edit {
    -fx-max-height: 100;
    -fx-border-color: #726060;
    -fx-background-color: #A52A2A;
}
.cancel {
    -fx-max-height: 100;
    -fx-border-color: #726060;
    -fx-background-color: #FFF8DC;
}
.editButton {
    -fx-min-width: 70;
    -fx-pref-width: 70;
    -fx-max-width: 70;
    -fx-border-color: #5b4e4e;
    -fx-background-color: #8f6161;
}
.deleteButton {
    -fx-min-width: 70;
    -fx-pref-width: 70;
    -fx-max-width: 70;
    -fx-border-color: #6b5050;
    -fx-background-color: #c23a47;
}
.sendMessageBox{
    -fx-background-color: #c2c90c;
    -fx-background-radius: 10;
    -fx-alignment: CENTER_LEFT;
}

.score{
    -fx-fill: #adff2f;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

.scoreUserLogged{
-fx-font-size: 30;
    -fx-font-weight: bold;
}

.info{
-fx-font-size: 30;
    -fx-font-weight: none;
}

.tileInfo{
    -fx-font-size: 20;
    -fx-font-weight: none;
}